.wrapper {
    padding: 3.2rem;
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    gap:3rem;
}

.wrapper:hover{
    background-image:var(--planCard);
}

.icon{
    width: 3.2rem;
    height: 3.2rem;
}

.title{
    font-size: 16px;
    font-weight: 700;
}

.des{
    font-size: 16px;
    line-height: 3rem;
}
.btn{
    display: flex;
    gap: 2rem;
}

.btn-join{
    font-size: 1.6rem;
}

.arrow{
    width: 1.6rem;
}