.wrapper{
    display: flex;
}

.hero-blur{
    width: 30rem;
    height: 30rem;
    left: 0;
    top:10rem;
}

.left{
    flex:3;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 24px 32px 32px;
}

.best-ad{
    position:relative;
    margin-top: 64px;
    display: flex;
    justify-content: flex-start;
    border-radius: 4rem;
    color: #fff;
    width: fit-content;
    background-color: #393d42;
}

.ad-content{
    padding: 20px 13px;    
    font-size: 16px;
    z-index: 1;
}

.bar{
    position:absolute;
    margin-top: 6px;
    right: 5px;
    height: 80%;
    border-radius: 3rem;
    width: 10rem;
    background-color: #f48916;
    z-index: 0;
}

.hero-text{
    width: 50%;
}

.text{
    font-size: 7.2rem;
    font-weight: 700;
}

.text +.text {
    margin-left: 1rem;  
}

.des{
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 200;
}

.figures{
    display: flex;
    gap:2rem;
}

.figure-number{
    font-size: 3.2rem;
}

.figure-text {
    color:var(--gray);
    text-transform: uppercase;
    font-size: 1.6rem;
}

.buttons{
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    gap:1rem
}

.btn-get{
    background-color: var(--orange);
    padding: 1rem 2.3rem;
}

.btn-learn{
    background-color: transparent;
    border: 1px solid var(--orange);
    padding: 1rem 2.3rem;
}


.right{
    position: relative;
    flex: 1;
    background-color: #f48916;
}

.btn-join{
    position:absolute;
    right: 50px;
    top:32px;
    font-weight: 700;
    padding: 10px 11px;
    font-size: 14px;
    color: #000;
    background-color: #fff;
}

.heart-rate{
    position: absolute;
    top: 120px;
    right: 70px;
    padding:16px;
    display: flex;
    gap:1rem;
    flex-direction: column;
    background-color: var(--darkGrey);
    border-radius: 1rem;
}

.heart-img{
    width: 3.2rem;
}

.heart-title{
    font-size: 1.6rem;
}

.heart-number{
    font-size: 2.4rem;
}

.hero{
    position: absolute;
    width: 368px;
    top: 160px;
    right: 180px;
}

.hero-img{
    width: 100%;
}

.calo{
    position: absolute;
    bottom: 60px;
    right: 500px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap:2rem;
    background-color: var(--caloryCard);
    padding:1.4rem;
    border-radius: 1.5rem;
}

.calo-chart{
    width: 7rem;
}

.img-chart{
    width: 100%;
    object-fit: cover;
}

.calo-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calo-title{
    color:var(--gray);
    font-size: 1.6rem;
}

.calo-des{
    font-size: 2.4rem;
}